:root {
    --blue: #1e90ff;
    --white: #ffffff;
    --pink: #E12AFB;
    --green: #00ff00;
}

.box {
    display: flex;
    background-color: var(--pink);
    flex-direction: row;
    flex-wrap: wrap;
}

.box div {
    margin: 10px 5px;
    border-radius: 8px;
    padding: 5px;
    background-color: var(--blue);
    width: 33%;
}


.item-a {
    background-color: var(--blue);
    grid-area: header;
}

.item-b {
    background-color: var(--pink);
    grid-area: main;
}

.item-c {
    background-color: var(--blue);
    grid-area: sidebar;
}

.item-d {
    background-color: var(--green);
    grid-area: footer;
}

.container {
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
    grid-template-rows: auto;
    grid-template-areas:
        "header header header header"
        "main main . sidebar"
        "footer footer footer footer";
}